<div class="ui raised segment">
 <a class="ui black ribbon label">Tickets Solved</a>
 <span>
   <input type="date" ></input>
 </span>
</div>
<div class='ui container' id='ticket_solved'><p>Ticket Solveds</p></div>
<div class="ui raised segment">
 <a class="ui black ribbon label">Tickets/Labels</a>
 <span>
   <input type="date" ></input>
 </span>
</div>
<div class='ui container' id='ticket_labels'><p>Ticket/Labels</p></div>
<div class="ui raised segment">
 <a class="ui black ribbon label">Tickets/Users</a>
 <span>
   <input type="date" ></input>
 </span>
</div>
<div class='ui container' id='ticket_users'><p>Ticket/Users</p></div>
